In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
website_url = 'http://www.psychpage.com/learning/library/assess/feelings.html'
response = requests.get(website_url)

response.status_code

200

In [3]:
print(type(response))
#response.content

<class 'requests.models.Response'>

In [4]:
soup = BeautifulSoup(response.content, 'lxml')
print(soup.title)

<title>List of Feeling Words</title>

In [5]:
#print(soup)

In [6]:
table_body = soup.find_all('table', attrs = {'border':'0', 'cellpadding':'5', 'cellspacing':'5'})
#table_body

In [7]:
type(table_body)

bs4.element.ResultSet

In [8]:
len(table_body)

1

In [9]:
result_list = pd.read_html(str(table_body[0]))
len(result_list)

1

In [10]:
type(result_list)

list

In [11]:
feeling_words = result_list[0]
feeling_words.head()

                   0                  1                  2                  3
0  Pleasant Feelings  Pleasant Feelings  Pleasant Feelings  Pleasant Feelings
1               OPEN              HAPPY              ALIVE               GOOD
2      understanding              great            playful               calm
3          confident                gay         courageous           peaceful
4           reliable             joyous          energetic            at ease

In [12]:
feeling_words.tail()

      0           1           2    3
81  NaN  threatened    appalled  NaN
82  NaN    cowardly  humiliated  NaN
83  NaN     quaking     wronged  NaN
84  NaN     menaced   alienated  NaN
85  NaN        wary         NaN  NaN

In [13]:
feeling_words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       67 non-null     object
 1   1       73 non-null     object
 2   2       73 non-null     object
 3   3       64 non-null     object
dtypes: object(4)
memory usage: 2.8+ KB

In [14]:
feeling_words.head(25)

                    0                  1                  2                  3
0   Pleasant Feelings  Pleasant Feelings  Pleasant Feelings  Pleasant Feelings
1                OPEN              HAPPY              ALIVE               GOOD
2       understanding              great            playful               calm
3           confident                gay         courageous           peaceful
4            reliable             joyous          energetic            at ease
5                easy              lucky          liberated        comfortable
6              amazed          fortunate         optimistic            pleased
7                free          delighted        provocative         encouraged
8         sympathetic          overjoyed          impulsive             clever
9          interested            gleeful               free          surprised
10          satisfied           thankful             frisky            content
11          receptive          important           animated              quiet
12          accepting            festive           spirited            certain
13               kind           ecstatic           thrilled            relaxed
14                NaN          satisfied          wonderful             serene
15                NaN               glad                NaN      free and easy
16                NaN           cheerful                NaN             bright
17                NaN              sunny                NaN            blessed
18                NaN              merry                NaN          reassured
19                NaN             elated                NaN                NaN
20                NaN           jubilant                NaN                NaN
21                NaN                NaN                NaN                NaN
22               LOVE         INTERESTED           POSITIVE             STRONG
23             loving          concerned              eager          impulsive
24        considerate           affected               keen               free

### Time to reconstruct the dataframe ü§™

First, change the column names.

In [15]:
feeling_words.columns = ['columnOne','columnTwo','columnThree','columnFour']

In [16]:
feeling_words.head()

           columnOne          columnTwo        columnThree         columnFour
0  Pleasant Feelings  Pleasant Feelings  Pleasant Feelings  Pleasant Feelings
1               OPEN              HAPPY              ALIVE               GOOD
2      understanding              great            playful               calm
3          confident                gay         courageous           peaceful
4           reliable             joyous          energetic            at ease

Second, create seperate lists of each column.

In [17]:
word_list1 = list(feeling_words.columnOne)

In [18]:
#checked the list of words. We're good to proceed to the next column! üòâ
#word_list1

In [19]:
word_list2 = list(feeling_words.columnTwo)

In [20]:
word_list3 = list(feeling_words.columnThree)

In [21]:
word_list4 = list(feeling_words.columnFour)

Third, remove category words from each list before combining all lists.

In [22]:
#Looking at the words in list
#word_list1

In [23]:
word_list1.remove('Pleasant Feelings')
word_list1.remove('OPEN')
word_list1.remove('LOVE')
word_list1.remove('Difficult/Unpleasant Feelings')
word_list1.remove('ANGRY')
word_list1.remove('INDIFFERENT')

In [24]:
#checking to see if .remove worked. Hooray! üëçüèª
#word_list1

In [25]:
#Looking at the words in list
#word_list2

In [26]:
word_list2.remove('Pleasant Feelings')
word_list2.remove('HAPPY')
word_list2.remove('INTERESTED')
word_list2.remove('Difficult/Unpleasant Feelings')
word_list2.remove('DEPRESSED')
word_list2.remove('AFRAID')

In [27]:
#checking to see if .remove worked.
#word_list2

In [28]:
#Looking at the words in list
#word_list3

In [29]:
word_list3.remove('Pleasant Feelings')
word_list3.remove('ALIVE')
word_list3.remove('POSITIVE')
word_list3.remove('Difficult/Unpleasant Feelings')
word_list3.remove('CONFUSED')
word_list3.remove('HURT')

In [30]:
#checking to see if .remove worked.
#word_list3

In [31]:
#Looking at the words in list
#word_list4

In [32]:
word_list4.remove('Pleasant Feelings')
word_list4.remove('GOOD')
word_list4.remove('STRONG')
word_list4.remove('Difficult/Unpleasant Feelings')
word_list4.remove('HELPLESS')
word_list4.remove('SAD')

In [33]:
#checking to see if .remove worked.
#word_list4

Fourth, remove NaN values from each list ‚úÇÔ∏è

In [34]:
new_word_list1 = [x for x in word_list1 if pd.isnull(x) == False]
#new_word_list1 Checking to see if all non NaN values were added to the new list.

In [35]:
new_word_list2 = [x for x in word_list2 if pd.isnull(x) == False]
#new_word_list2 Checking to see if all non NaN values were added to the new list.

In [36]:
new_word_list3 = [x for x in word_list3 if pd.isnull(x) == False]
#new_word_list3 Checking to see if all non NaN values were added to the new list.

In [37]:
new_word_list4 = [x for x in word_list4 if pd.isnull(x) == False]
#new_word_list4 Checking to see if all non NaN values were added to the new list.

Fifth, combine the lists.

In [38]:
master_list = new_word_list1 + new_word_list2 + new_word_list3 + new_word_list4
#master_list Checking the list.

Started out with 277 non-null words. Subtract 24 category words to have correct amount of emotion words. üßÆ

In [39]:
len(master_list)

253

Afrer further realization and testing, I needed to remove duplicate words from the master_list. Doing so will help with placing words into the correct sub_category/sub_categories. This will be a two step process. üëÅ üëÑ üëÅ

In [40]:
master_list = set(master_list)

In [41]:
words_df = pd.DataFrame(master_list, columns=['words'])
words_df

            words
0    drawn toward
1         playful
2          frisky
3           weary
4        offended
..            ...
235  dissatisfied
236      hesitant
237     receptive
238   pessimistic
239        secure

[240 rows x 1 columns]

Success! New dataframe has been created. Now, make more lists for the sub-categories.

In [42]:
open_list = ['understanding', 'confident', 'reliable', 'easy', 'amazed', 'free', 'sympathetic', 'interested', 'satisfied', 'receptive', 'accepting', 'kind']

In [43]:
happy_list = ['great', 'gay', 'joyous', 'lucky', 'fortunate', 'delighted', 'overjoyed', 'gleeful', 'thankful', 'important', 'festive', 'ecstatic', 'satisfied', 'glad', 'cheerful', 'sunny', 'merry', 'elated', 'jubilant']

In [44]:
alive_list = ['playful', 'courageous', 'energetic', 'liberated', 'optimistic', 'provocative', 'impulsive', 'free', 'frisky', 'animated', 'spirited', 'thrilled', 'wonderful']

In [45]:
good_list = ['calm', 'peaceful', 'at ease', 'comfortable', 'pleased', 'encouraged', 'clever', 'surprised', 'content', 'quiet', 'relaxed', 'serene', 'free and easy', 'bright', 'blessed', 'reassured']

In [46]:
love_list = ['loving', 'considerate', 'affectionate', 'sensitive', 'tender', 'devoted', 'attracted', 'passionate', 'admiration', 'warm', 'touched', 'sympathy', 'close', 'loved', 'comforted', 'drawn toward']

In [47]:
interested_list = ['concerned', 'affected', 'fascinated', 'intrigued', 'absorbed', 'inquisitive', 'nosy', 'snoopy', 'engrossed', 'curious']

In [48]:
positive_list = ['eager', 'keen', 'earnest', 'intent', 'anxious', 'inspired', 'determined', 'excited', 'enthusiastic', 'bold', 'brave', 'daring', 'challenged', 'optimistic', 're-enforced', 'confident', 'hopeful']

In [49]:
strong_list = ['impulsive', 'free', 'sure', 'certain', 'rebellious', 'unique', 'dynamic', 'tenacious', 'hardy', 'secure']

In [50]:
angry_list = ['irritated', 'enraged', 'hostile', 'insulting', 'sore', 'annoyed', 'upset', 'hateful', 'unpleasant', 'offensive', 'bitter', 'aggressive', 'resentful', 'inflamed', 'provoked', 'incensed', 'infuriated', 'cross', 'worked up', 'boiling', 'fuming', 'indignant']

In [51]:
depressed_list = ['lousy', 'disappointed', 'discouraged', 'ashamed', 'powerless', 'diminished', 'guilty', 'dissatisfied', 'miserable', 'detestable', 'repugnant', 'despicable', 'disgusting', 'abominable', 'terrible', 'in despair', 'sulky', 'bad', 'a sense of loss']

In [52]:
confused_list = ['upset', 'doubtful', 'uncertain', 'indecisive', 'perplexed', 'embarrassed', 'hesitant', 'shy', 'stupefied', 'disillusioned', 'unbelieving', 'skeptical', 'distrustful', 'misgiving', 'lost', 'unsure', 'uneasy', 'pessimistic', 'tense']

In [53]:
helpless_list = ['incapable', 'alone', 'paralyzed', 'fatigued', 'useless', 'inferior', 'vulnerable', 'empty', 'forced', 'hesitant', 'despair', 'frustrated', 'distressed', 'woeful', 'pathetic', 'tragic', 'in a stew', 'dominated']

In [54]:
indifferent_list = ['insensitive', 'dull', 'nonchalant', 'neutral', 'reserved', 'weary', 'bored', 'preoccupied', 'cold', 'disinterested', 'lifeless']

In [55]:
afraid_list = ['fearful', 'terrified', 'suspicious', 'anxious', 'alarmed', 'panic', 'nervous', 'scared', 'worried', 'frightened', 'timid', 'shaky', 'restless', 'doubtful', 'threatened', 'cowardly', 'quaking', 'menaced', 'wary']

In [56]:
hurt_list = ['crushed', 'tormented', 'deprived', 'pained', 'tortured', 'dejected', 'rejected', 'injured', 'offended', 'afflicted', 'aching', 'victimized', 'heartbroken', 'agonized', 'appalled', 'humiliated', 'wronged', 'alienated']

In [57]:
sad_list = ['tearful', 'sorrowful', 'pained', 'grief', 'anguish', 'desolate', 'desperate', 'pessimistic', 'unhappy', 'lonely', 'grieved', 'mournful', 'dismayed']

Create the "sub_category" column for the dataframe üåà

In [58]:
sub_category_list = []
for word in words_df['words']:
    if word in open_list:
        feeling = 'open'
        sub_category_list.append(feeling)
    elif word in happy_list:
        feeling = 'happy'
        sub_category_list.append(feeling)
    elif word in alive_list:
        feeling = 'alive'
        sub_category_list.append(feeling)
    elif word in good_list:
        feeling = 'good'
        sub_category_list.append(feeling)
    elif word in love_list:
        feeling = 'love'
        sub_category_list.append(feeling)
    elif word in interested_list:
        feeling = 'interested'
        sub_category_list.append(feeling)
    elif word in positive_list:
        feeling = 'positive'
        sub_category_list.append(feeling)
    elif word in strong_list:
        feeling = 'strong'
        sub_category_list.append(feeling)
    elif word in angry_list:
        feeling = 'angry'
        sub_category_list.append(feeling)
    elif word in depressed_list:
        feeling = 'depressed'
        sub_category_list.append(feeling)
    elif word in confused_list:
        feeling = 'confused'
        sub_category_list.append(feeling)
    elif word in helpless_list:
        feeling = 'helpless'
        sub_category_list.append(feeling)
    elif word in indifferent_list:
        feeling = 'indifferent'
        sub_category_list.append(feeling)
    elif word in afraid_list:
        feeling = 'afraid'
        sub_category_list.append(feeling)
    elif word in hurt_list:
        feeling = 'hurt'
        sub_category_list.append(feeling)
    else:
        feeling = 'sad'
        sub_category_list.append(feeling)

#sub_category_list Checking the list

In [59]:
words_df['sub_category'] = sub_category_list

In [60]:
words_df.head()

          words sub_category
0  drawn toward         love
1       playful        alive
2        frisky        alive
3         weary  indifferent
4      offended         hurt

Some words fall under multiple sub-categories and main categories. Let's reassign those words.

In [61]:
for index, value in words_df.iterrows():
    if value['words'] == 'free':
        multi_meaning = 'alive/open/strong'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'pessimistic':
        multi_meaning = 'confused/sad'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'confident':
        multi_meaning = 'open/positive'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'doubtful':
        multi_meaning = 'afraid/confused'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'upset':
        multi_meaning = 'angry/confused'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'anxious':
        multi_meaning = 'afraid/positive'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'optimistic':
        multi_meaning = 'alive/positive'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'impulsive':
        multi_meaning = 'alive/strong'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'certain':
        multi_meaning = 'good/strong'
        value['sub_category'] = multi_meaning
    elif value['words'] == 'pained':
        multi_meaning = 'hurt/sad'
        value['sub_category'] = multi_meaning

Checking to see if the values were changed ü§ûüèª

In [62]:
#words_df.head(50)

Create main category column

In [63]:
main_category_list = []
for words in words_df['words']:
    if words in open_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in happy_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in alive_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in good_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in love_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in interested_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in positive_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in strong_list:
        feelings = 'pleasant'
        main_category_list.append(feelings)
    elif words in angry_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in depressed_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in confused_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in helpless_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in indifferent_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in afraid_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    elif words in hurt_list:
        feelings = 'unpleasant'
        main_category_list.append(feelings)
    else:
        feelings = 'unpleasant'
        main_category_list.append(feelings)

#main_category_list Checking the list

In [64]:
words_df['main_category'] = main_category_list
words_df.head(20)

            words    sub_category main_category
0    drawn toward            love      pleasant
1         playful           alive      pleasant
2          frisky           alive      pleasant
3           weary     indifferent    unpleasant
4        offended            hurt    unpleasant
5            sore           angry    unpleasant
6       accepting            open      pleasant
7         crushed            hurt    unpleasant
8         menaced          afraid    unpleasant
9       in a stew        helpless    unpleasant
10     nonchalant     indifferent    unpleasant
11         aching            hurt    unpleasant
12         lonely             sad    unpleasant
13    distrustful        confused    unpleasant
14     optimistic  alive/positive      pleasant
15  disillusioned        confused    unpleasant
16         uneasy        confused    unpleasant
17           calm            good      pleasant
18    unbelieving        confused    unpleasant
19       ecstatic           happy      pleasant

Changing the main category for the word anxious. Anxious falls into both pleasant and unpleasant.

In [65]:
for index, value in words_df.iterrows():
    if value['sub_category'] == 'afraid/positive':
        main_meaning = 'pleasant/unpleasant'
        value['main_category'] = main_meaning

Checking the changes ü§ì

In [66]:
words_df.loc[words_df['words'] == 'anxious']

       words     sub_category        main_category
158  anxious  afraid/positive  pleasant/unpleasant

Perfect! The words_df is completed!

In [67]:
words_df.head()

          words sub_category main_category
0  drawn toward         love      pleasant
1       playful        alive      pleasant
2        frisky        alive      pleasant
3         weary  indifferent    unpleasant
4      offended         hurt    unpleasant

In [68]:
words_df.tail()

            words  sub_category main_category
235  dissatisfied     depressed    unpleasant
236      hesitant      confused    unpleasant
237     receptive          open      pleasant
238   pessimistic  confused/sad    unpleasant
239        secure        strong      pleasant

Save dataframe as csv!

In [69]:
words_df.to_csv(path_or_buf = '../data/feeling_words.csv',index=False)